@using PagedList.Mvc
@using Helpers
@model taxinoibai.ViewModel.ArticleCategoryViewModel
@{
    ViewBag.Title = (Model.Category.TitleMeta ?? Model.Category.CategoryName) + (Model.Articles.PageNumber > 1 ? " | Trang " + Model.Articles.PageNumber : null);
    ViewBag.Description = Model.Category.Description ?? Model.Category.CategoryName;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ArticleCategory", new { url = Model.Category.Url });

    ViewContext.HttpContext.Items["CatId"] = Model.Category.Id;
    if (Model.Category.Image != null)
    {
        ViewBag.ImgShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/articleCategory/", Model.Category.Image);
    }
}
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<div class="container mt-5">
    <div class="row box-articles">
        <div class="col-lg-9">
            @if (Model.Articles.Any())
            {
                <div class="row">
                    @foreach (var item in Model.Articles)
                    {
                        <div class="col-lg-4 mb-lg-4 mb-3 col-6">
                            <article class="article mb-4">
                                @if (item.Image != null)
                                {
                                    <a href="@Url.Action("ArticleDetail", new {url = item.Url})">
                                        <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject" class="lazyload" />
                                    </a>
                                }
                                <div class="date my-2">
                                    <i class="fa-regular fa-clock"></i> @item.CreateDate.ToString("dd/MM/yyyy") - @item.CreateDate.ToString("HH:mm")
                                </div>
                                <a class="subject" href="@Url.Action("ArticleDetail", new {url = item.Url})">@item.Subject</a>
                            </article>
                        </div>
                    }
                </div>
            }
            @if (Model.Articles.PageCount > 1)
            {
                <div class="text-center mt-3">
                    @Html.PagedListPager(Model.Articles, page => Url.Action("ArticleCategory", "Home", new { page, url = Model.Category.Url }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            }
        </div>
        <div class="col-lg-3 pr-0">
            @Html.Action("ArticleHot")
        </div>
    </div>
</div>
@section scripts{
    <script>
        DetailJs()
    </script>
}