@model taxinoibai.Models.Contact


<div class="form-booking" id="form-contact">
    <form action="" method="post">
        @Html.AntiForgeryToken()
        <div class="form-title">
            <i class="fas fa-plane"></i>  Sân bay
        </div>
        <hr class="text-white" />
        <div class="position-relative">
            <div class="group-input">
                <div class="right-form">
                    <img src="~/Content/images/diem_di.png" width="15" height="15" alt="Điểm đi" />
                    <span>Điểm đi</span>
                </div>
                <div class="left-form autocomplete-container">
                    @Html.TextBoxFor(a => a.From, new { @placeholder = "Điểm đi", @data_bs_toggle = "tooltip", @id = "diemDi", @class = "autocomplete-input" })
                    <div id="autocompleteList" class="autocomplete-list"></div>
                </div>
            </div>
            <small class="text-danger">@Html.ValidationMessageFor(a => a.From)</small>
            <div class="revert">
                <i class="far fa-sync"></i>
            </div>
            <div class="group-input">
                <div class="right-form">
                    <img src="~/Content/images/diem_den.png" width="15" height="15" alt="Điểm đi" />
                    <span>Điểm đến</span>
                </div>
                <div class="left-form autocomplete-container">
                    @Html.TextBoxFor(a => a.To, new { @placeholder = "Điểm đến", @id = "diemDen", Value = "Nội bài" })
                    <small class="text-danger">@Html.ValidationMessageFor(a => a.To)</small>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label class="custom-checkbox">
                    <input type="checkbox" name="Twoways" value="true" id="twoways">
                    <span class="checkmark"></span>
                    <span class="label-text">Hai chiều</span>
                </label>
            </div>
            <div class="col-6">
                <label class="custom-checkbox">
                    <input type="checkbox" name="Bill" value="true">
                    <span class="checkmark"></span>
                    <span class="label-text">Hóa đơn</span>
                </label>
            </div>
        </div>

        <hr class="text-white" />
        <div class="row cus-row px-1">
            <div class="col-lg-6">
                <div class="time-form">
                    @Html.TextBoxFor(a => a.Mobile, new { @placeholder = "Số điện thoại", @class = "w-100" })
                </div>
                <small class="text-danger">@Html.ValidationMessageFor(a => a.Mobile)</small>
            </div>
            <div class="col-lg-6">
                <div class="option-item">
                    <div class="opiton-name">
                        Loại xe
                    </div>
                    <select name="TypeCar">
                        <option value="Xe 4 chỗ">Xe 4 chỗ</option>
                        <option value="Xe 7 chỗ">Xe 7 chỗ</option>
                        <option value="Xe 16 chỗ">Xe 16 chỗ</option>
                        <option value="Xe 29 chỗ">Xe 29 chỗ</option>
                        <option value="Xe 45 chỗ">Xe 45 chỗ</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row cus-row mt-3 px-1">
            <div class="col-6">
                <div class="time-form">
                    <input type="text" name="PickUpTime" placeholder = "Thời gian đón" id = "" class = "w-100 datetimepicker"/>
                    <img src="~/Content/images/tgian_don.png" width="15" height="15" alt="icon" />
                </div>
            </div>
            <div class="col-6">
                <div class="time-form bg-light">
                    @Html.TextBoxFor(a => a.WaitingTime, new { @placeholder = "Thời gian về", type = "text" , @class= "datetimepicker" , @id= "waitingTime" , disabled = "disabled" })
                    <img src="~/Content/images/tgian_don.png" width="15" height="15" alt="icon" />
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit"
                    class="btn btn-submit"
                    id="btnConfirmBooking">
                nhận báo giá ngay
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="stopModal" tabindex="-1" aria-labelledby="stopModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="stopModalLabel">Thêm điểm dừng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <div id="stopPointsContainer">
                            @Html.HiddenFor(a => a.StopPoints, new { id = "HiddenStopPoints" })
                        </div>
                        <button type="button" id="btnAddStop" class="btn btn-success w-100">+ Thêm điểm dừng</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnClearStops" class="btn btn-danger">Xóa tất cả</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" id="btnConfirmStops" class="btn btn-primary">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content custom-modal">
                    <div class="modal-header custom-modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">
                            <i class="fas fa-info-circle me-2"></i> XÁC NHẬN THÔNG TIN
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="mb-2">Giá cước đã bao gồm phí ra, vào sân bay Nội Bài, chưa bao gồm phí cầu đường khác</p>
                        <h3 class="price-amount mb-2"><span id="priceAmount">220,000</span>đ</h3>
                        <p class="mb-3">Vui lòng đặt xe 45 phút trước giờ đón để đảm bảo giá này!</p>
                        <hr>
                        <p class="mb-2">Để lại số điện thoại của Quý khách, chúng tôi sẽ liên lạc lại ngay!</p>
                        @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control mb-2", @id = "phoneInput", @placeholder = "Điện thoại" })
                        <small class="text-danger">@Html.ValidationMessageFor(a => a.Mobile)</small>
                        @*@Html.TextBoxFor(a => a.FullName, new { @class = "form-control mb-2", @id = "nameInput", @placeholder = "Họ và tên" })
                        <small class="text-danger">@Html.ValidationMessageFor(a => a.FullName)</small>*@
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary custom-btn-cancel" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="btnConfirmBooking" class="btn custom-btn-confirm">XÁC NHẬN ĐẶT CHUYẾN</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
