@model taxinoibai.ViewModel.ListContactViewModel
@using PagedList.Mvc
@using taxinoibai.Models
@{
    ViewBag.Title = "Danh sách liên hệ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="page-title">
        <i class="fa-solid fa-align-right fa-rotate-180 fa-sm"></i>
        <span>Danh sách liên hệ</span>
    </div>
    <div class="header-elements">
        <a href="#" onclick="history.go(-1)" class="btn-main btn-labeled bg-brown ml-1">
            <span class="icon">
                <i class="fa-solid fa-left"></i>
            </span>
            Quay lại
        </a>
    </div>
</div>
<div class="content">
    <div class="accordion">
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-regular fa-magnifying-glass fa-lg"></i>
                    Tìm kiếm
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="searchForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <form action="@Url.Action("ListContact")" method="get" id="data-search-form">
                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <label class="mb-1">Tìm số điện thoại:</label>
                                @Html.TextBoxFor(a => a.Name, new { @class = "form_control" })
                            </div>
                        </div>
                        <div class="btn-group border-0 pt-0">
                            <button type="reset" onclick="resetAnyFormById('data-search-form');" class="btn-main btn-white" id="reset">
                                <span>Đặt lại</span>
                                <i class="fa-solid fa-rotate-right ms-2"></i>
                            </button>
                            <button type="submit" class="btn-main btn-primary text-white ms-3">
                                <span>Tìm kiếm</span>
                                <i class="fa-sharp fa-solid fa-paper-plane ms-2"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-solid fa-list"></i>
                    Danh sách liên hệ
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#listContact" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="listContact" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p>Có tổng số <strong>@Model.Contacts.TotalItemCount</strong> khách hàng liên hệ</p>
                    <table class="list_table tablecenter table-striped">
                        <thead>
                            <tr>
                                <th style="width: 100px">Ngày gửi</th>
                                <th style="width: 150px">Số điện thoại</th>
                                <th>Họ tên</th>
                                <th>Điểm đi</th>
                                <th>Điểm đến</th>
                                <th>Giờ đón</th>
                                <th style="width: 80px">Loại xe</th>
                                <th>Trạng thái</th>
                                <th style="width: 60px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contact in Model.Contacts)
                            {

                                var refunTime = contact.WaitingTime?.ToString("dd/MM/yyyy") ?? "Không có";
                                <tr data-id="@contact.Id">
                                    <td>@contact.CreateDate.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>
                                        <a href="tel:@contact.Mobile">
                                            <strong>@contact.Mobile</strong>
                                        </a>
                                    </td>
                                    <td>

                                        @if (contact.Twoways)
                                        {
                                            @:Đặt 2 chiều
                                            <br />
                                            @: Thời gian về : @refunTime
                                        }
                                        @if (contact.Bill)
                                        {
                                            @:Yêu cầu hóa đơn
                                            <br />
                                        }
                                    </td>
                                    <td>@contact.From</td>
                                    <td>@contact.To</td>
                                    <td>
                                        @contact.PickUpTime.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>@contact.TypeCar</td>
                                    <td>
                                        <select id="statusContact" onchange="updateStatus(@contact.Id, this.value)" style="width: 150px;">
                                            <option value="0" @if (contact.StatusContact == StatusContact.Reception) { @Html.Raw("selected") }>Tiếp nhận</option>
                                            <option value="1" @if (contact.StatusContact == StatusContact.Contact) { @Html.Raw("selected") }>Liên hệ</option>
                                            <option value="2" @if (contact.StatusContact == StatusContact.Latch) { @Html.Raw("selected") }>Chốt</option>
                                            <option value="3" @if (contact.StatusContact == StatusContact.Fail) { @Html.Raw("selected") }>Hủy</option>
                                        </select>
                                    </td>
                                    <td class="action-col"><a href="javascript:;" onclick="deletecontact('@contact.Id')" style="color: red">Xóa</a></td>
                                </tr>
                            }
                            @if (Model.Contacts.PageCount > 1)
                            {
                                <tr>
                                    <td colspan="7">@Html.PagedListPager(Model.Contacts, page => Url.Action("ListContact", new { page, name = Model.Name }))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
                            {
    <script type="text/javascript">
        function deletecontact(id) {
            if (confirm("Bạn có chắc chắn xóa liên hệ này không?")) {
                $.post("/Contact/DeleteContact", { contactId: id }, function (data) {
                    if (data) {
                        $.toast({
                            text: 'Xóa liên hệ thành công',
                            position: 'bottom-right',
                            icon: 'success',
                        })
                        $("tr[data-id='" + id + "']").fadeOut();
                    }
                    else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            icon: 'error',
                        })
                    }
                });
            }
        }

        function updateStatus(id, status) {
            $.post("/Contact/UpdateStatus", { contactId: id, status }, function (data) {
                if (data.status) {
                    $.toast({
                        heading: 'Cập nhật thành công',
                        text: data.msg,
                        icon: 'success',
                        position: "bottom-right"
                    })
                } else {
                    $.toast({
                        heading: 'Cập nhật không thành công',
                        text: data.msg,
                        icon: 'error',
                        position: "bottom-right"
                    })
                }
            });
        }
    </script>
}