@model taxinoibai.Models.ArticleCategory
@{
    ViewBag.Title = "Cập nhật danh mục bài viết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="page-title">
        <i class="fa-solid fa-align-right fa-rotate-180 fa-sm"></i>
        <span>Cập nhật danh mục bài viết</span>
    </div>
    <a href="#" onclick="history.go(-1)" class="btn-main btn-labeled bg-brown">
        <span class="icon">
            <i class="fa-solid fa-left"></i>
        </span>
        Quay lại
    </a>
</div>
<div class="content">
    <div class="accordion">
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-light fa-pen-to-square fa-lg"></i>
                    Cập nhật danh mục bài viết
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="editForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    @using (Html.BeginForm("UpdateCategory", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(a => a.Id)

                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.ParentId, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.DropDownListFor(a => Model.ParentId, (SelectList)ViewBag.RootCats, "Danh mục cha", new { @class = "form_control w300" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.TypePost, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EnumDropDownListFor(a => a.TypePost, new { @class = "form_control" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="CategoryName">Tên danh mục <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.CategoryName)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Description, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Description)
                                @Html.ValidationMessageFor(a => Model.Description)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Image, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Image, new { type = "file" })
                                <div class="text-danger mt-2">Chấp nhận ảnh jpg, png, gif, jpeg < 4MB</div>
                            </div>
                        </div>
                        if (Model.Image != null)
                        {
                            <div class="mb-3 row" id="ImgPreview">
                                <label class="col-form-label col-lg-3"></label>
                                <div class="col-lg-9">
                                    <img class="img-border mb-2" src="@Path.Combine("/images/articleCategory/", Model.Image)" />
                                    <a href="javascript:;" onclick="$('#ImgPreview').hide(); $('#CurrentFile').val('');" class="delete-img">
                                        <img src="~/Content/images/admin/icon-delete-red.png" alt="" style="vertical-align: middle; margin-top: 0; height: 10px;" /> Xóa ảnh
                                    </a>
                                    <input type="hidden" name="CurrentFile" id="CurrentFile" value="@Model.Image" />
                                </div>
                            </div>
                        }
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.CategorySort, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.CategorySort)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.ShowMenu, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="ShowMenu" @if (Model.ShowMenu) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Home, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Home" @if (Model.Home) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Redirect, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Redirect" @if (Model.Redirect) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.ShowFooter, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="ShowFooter" @if (Model.ShowFooter) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.CategoryActive, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="CategoryActive" @if (Model.CategoryActive) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Url, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Url)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.TitleMeta, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.TitleMeta)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.DescriptionMeta, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.DescriptionMeta)
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn-main btn-primary text-white">
                                <span>Lưu</span>
                                <i class="fa-solid fa-floppy-disk ms-2"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @Html.Action("ListCategory", "Article")
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#thumb').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#Image").change(function () {
            readURL(this);
        });
        function triggerImage() {
            $('.file-select').trigger('click');
        }
        function changeImage(event) {
            $('#image-name').html($('.file-select').val());
        }
    </script>
}

