@model taxinoibai.ViewModel.InsertArticleViewModel
@{
    ViewBag.Title = "Cập nhật bài viết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form_name{
        width:300px;
        margin-bottom:30px;
    }
</style>
<div class="page-header">
    <div class="page-title">
        <i class="fa-solid fa-align-right fa-rotate-180 fa-sm"></i>
        <span>Cập nhật bài viết</span>
    </div>
    <a href="#" onclick="history.go(-1)" class="btn-main btn-labeled bg-brown">
        <span class="icon">
            <i class="fa-solid fa-left"></i>
        </span>
        Quay lại
    </a>
</div>
<div class="content">
    <div class="accordion">
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-light fa-pen-to-square fa-lg"></i>
                    Cập nhật bài viết
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="editForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    @using (Html.BeginForm("UpdateArticle", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(a => a.Article.Id)

                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3">Danh mục bài viết <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <select name="CategoryId" class="form_control" data-val="true" data-val-required="Hãy chọn Danh mục bài viết">
                                    <option value="">Danh mục bài viết</option>
                                    @foreach (var category in Model.Categories.Where(a => a.ParentId == null))
                                    {
                                        <option value="@category.Id" @if (category.Id == Model.Article.ArticleCategoryId) { @Html.Raw("selected='selected'") }>
                                            @category.CategoryName
                                        </option>
                                        foreach (var child in Model.Categories.Where(a => a.ParentId == category.Id))
                                        {
                                            <option value="@child.Id" @if (child.Id == Model.Article.ArticleCategoryId) { @Html.Raw("selected='selected'") }>
                                                -- @child.CategoryName
                                            </option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(a => a.CategoryId)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="Article_Subject">Tiêu đề <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Article.Subject)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="Article_Description">Trích dẫn ngắn <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Article.Description)
                                @Html.ValidationMessageFor(a => a.Article.Description)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.Image, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.TextBoxFor(a => a.Article.Image, new { type = "file" })
                                <div class="text-danger mt-2">Chấp nhận ảnh jpg, png, gif, jpeg < 4MB</div>
                            </div>
                        </div>
                        if (Model.Article.Image != null)
                        {
                            <div class="mb-3 row">
                                <label class="col-form-label col-lg-3"></label>
                                <div class="col-lg-9">
                                    <img class="img-border" src="@Path.Combine("/images/articles/",  Model.Article.Image)" />
                                </div>
                            </div>
                        }
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.Body, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Article.Body)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.ShowMenu, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Article.ShowMenu" @if (Model.Article.ShowMenu) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.Home, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Article.Home" @if (Model.Article.Home) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.Active, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Article.Active" @if (Model.Article.Active) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.Url, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Article.Url)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.TitleMeta, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Article.TitleMeta)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Article.DescriptionMeta, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Article.DescriptionMeta)
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn-main btn-primary text-white">
                                <span>Lưu</span>
                                <i class="fa-solid fa-floppy-disk ms-2"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
