@model taxinoibai.Models.Admin
@{
    ViewBag.Title = "Thêm quản trị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="page-title">
        <span>Thêm quản trị</span>
    </div>
    <a href="#" onclick="history.go(-1)" class="btn-main btn-labeled bg-brown">
        <span class="icon">
            <i class="fas fa-long-arrow-left"></i>
        </span>
        Quay lại
    </a>
</div>
<div class="content">
    @if (ViewBag.Result == "success")
    {
        <div id="AlertBox" class="alert alert-success"><strong>Thêm mới admin thành công</strong></div>
    }
    @if (ViewBag.Result == "update")
    {
        <div id="AlertBox" class="alert alert-success"><strong>Cập nhật admin thành công</strong></div>
    }
    <div class="accordion">
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-light fa-octagon-plus fa-lg"></i>
                    Thêm quản trị
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#createForm" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="createForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    @using (Html.BeginForm("CreateAdmin", "Mms", FormMethod.Post, new { @id = "data-insert-form" }))
                    {
                        @Html.ValidationSummary(true)
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="Username">Tên đăng nhập <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Username)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="Password">Mật khẩu <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Password)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Active, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Active" value="true" checked />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="reset" onclick="resetAnyFormById('data-insert-form');" class="btn-main btn-white" id="reset">
                                <span>Đặt lại</span>
                                <i class="fa-solid fa-rotate-right ms-2"></i>
                            </button>
                            <button type="submit" class="btn-main btn-primary text-white ms-3">
                                <span>Lưu</span>
                                <i class="fa-solid fa-floppy-disk ms-2"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @Html.Action("ListAdmin", "Mms")
    </div>
</div>