@model taxinoibai.ViewModel.EditAdminViewModel
@{
    ViewBag.Title = "Cập nhật quản trị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <span>Cập nhật quản trị</span>
    </div>
    <a href="#" onclick="history.go(-1)" class="btn-main btn-labeled bg-brown">
        <span class="icon">
            <i class="fas fa-long-arrow-left"></i>
        </span>
        Quay lại
    </a>
</div>
<div class="content">
    <div class="accordion">
        <div class="accordion-item border-left-slate">
            <div class="accordion-header">
                <div class="card-title">
                    <i class="fa-light fa-octagon-plus fa-lg"></i>
                    Cập nhật quản trị
                </div>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="true">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
            <div id="editForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    @using (Html.BeginForm("EditAdmin", "Mms", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3" for="Username">Tên đăng nhập <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Username)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Password, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                @Html.EditorFor(a => a.Password)
                            </div>
                        </div>
                        <div class="mb-3 row">
                            @Html.LabelFor(a => a.Active, new { @class = "col-form-label col-lg-3" })
                            <div class="col-lg-9">
                                <label class="form-check-label">
                                    <input type="checkbox" name="Active" @if (Model.Active) { @Html.Raw("value='true' checked")  } else { @Html.Raw("value='false'") } />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn-main btn-primary text-white">
                                <span>Lưu</span>
                                <i class="fa-solid fa-floppy-disk ms-2"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @Html.Action("ListAdmin", "Mms")
    </div>
</div>