@model IEnumerable<taxinoibai.Models.Admin>
<div class="accordion-item border-left-slate">
    <div class="accordion-header">
        <div class="card-title">
            <i class="fa-solid fa-list"></i>
            Danh sách admin
        </div>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#userList">
            <i class="fa-solid fa-angle-down"></i>
        </button>
    </div>
    <div id="userList" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <table class="list_table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(a => a.Username)</th>
                        <th>@Html.DisplayNameFor(a => a.Active)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admin in Model)
                    {
                        <tr data-id="@admin.Username">
                            <td class="left">@admin.Username</td>
                            <td>
                                <label class="check-label-disable" @if (admin.Active) { @Html.Raw("data-check='true'") }>
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="action-col">
                                @Html.ActionLink("Sửa", "EditAdmin", new { adminId = admin.Id }) - <a href="javascript:;" class="red-warring" onclick="deleteAdmins('@admin.Username')">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteAdmins(id) {
        if (confirm("Bạn có chắc chắn xóa quản trị này không?")) {
            $.post("/mms/DeleteAdmin", { username: id }, function (data) {
                if (data) {
                    $.toast({
                        text: 'Xóa quản trị viên thành công',
                        position: 'bottom-right',
                        icon: 'success',
                    })
                    $("tr[data-id='" + id + "']").fadeOut();
                } else {
                    $.toast({
                        text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                        icon: 'error',
                    })
                }
            });
        }
    }</script>